<!DOCTYPE html>
<html lang="en">

<%- include('partials/extra_head.ejs') %>

    <body>
        <%- include('partials/real_nav.ejs') %>
            <div class="templates">
                <div class="template-header-display">
                    <div class="contain">
                        <div class="grid_2">
                            <div class="first_template_display">
                                <h3>Engage your users with beautiful video thumbnail designs</h3>
                                <p>Capture attention of viewers with our high-quality visuals, text overlays, and images
                                    that
                                    relate to your video's topic and can give people a sense of what to expect before
                                    they
                                    even click play</p>
                                <button>Create design from scratch</button>
                            </div>
                            <div class="second_template_display">
                                <img src="/images/humaans.png" alt="hero image" />
                            </div>
                        </div>
                    </div>
                </div>
                <section class="mt-5">
                    <div class="contain">
                        <div class="template_block_cover">
                            <h4 class="template_block_title">All Templates</h4>
                            <div class="template_block_body">
                                <div class="grid_4">
                                    <% data.forEach(temp=> { %>
                                        <div class="template_design">
                                            <img data-toggle="modal" data-target="#myModal"
                                                src="../<%= temp.location.slice(8) %>"
                                                data-desc="<%= temp.description %>" data-name="<%= temp.name %>"
                                                data-svg="<%= JSON.stringify(temp.svgCode) %>"
                                                data-tags="<%= temp.tags %>" data-id="<%= temp._id %>" class="img-fluid"
                                                alt="templates">
                                            <div class="tag_blocks">
                                                <% temp.tags.forEach(tag=> {
                                                    if(tag.length) { %>
                                                    <div class="tags"><a href="/templates/<%= tag %>" class="text-dark">
                                                            <%= tag %>
                                                        </a></div>
                                                    <% } }) %>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                </section>
                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">
                        <!-- .modal-dialog-scrollable -->
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <h5 class="modal-title" id="modalCardHeader">Select Account</h5> -->
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body template_preview">
                                <div class="mx-2">
                                    <div class="row">
                                        <div class="col-lg-7 col-md-7">
                                            <img style="border-radius: 3px;" src="" alt="template preview in a modal"
                                                class="img-fluid img-real">
                                        </div>
                                        <div class="col-lg-5 col-md-5">
                                            <h6 class="price-tag">FREE</h6>
                                            <h2></h2>
                                            <ul class="template-detail-display">
                                                <li>&bull; Youtube thumbnail</li>
                                                <li>&bull; 1280 x 720px</li>
                                            </ul>
                                            <ul id="showColor">
                                                <li>
                                                    <ion-icon name="color-palette-outline"></ion-icon> 100% fully
                                                    customizable
                                                </li>
                                                <li>
                                                    <ion-icon name="create-outline"></ion-icon> Edit and download on the
                                                    go
                                                </li>
                                                <li>
                                                    <ion-icon name="logo-youtube"></ion-icon> Use free of charge on
                                                    Youtube
                                                </li>
                                            </ul>
                                            <div class="mt-2 tag_blocks" id="showTag">
                                            </div>
                                            <p class="mt-1 desc"></p>
                                            <a href="" class="mt-1 bg_black p-2 full_width"></a>
                                            <button type="button" class="close modal_button" data-dismiss="modal">Select
                                                another template</button>
                                        </div>
                                    </div>
                                    <div class="template_block_body">
                                        <h3>See other templates</h3>
                                        <div class="grid_4">
                                            <% data .slice(randomNumber,randomNumber + 4) .forEach(temp=> { %>
                                                <div class="template_design">
                                                    <img data-target="#myModal" src="../<%= temp.location.slice(8) %>"
                                                        data-desc="<%= temp.description %>" data-name="<%= temp.name %>"
                                                        data-svg="<%= JSON.stringify(temp.svgCode) %>"
                                                        data-tags="<%= temp.tags %>" data-id="<%= temp._id %>"
                                                        class="img-fluid" alt="templates">
                                                    <div class="tag_blocks">
                                                        <% temp.tags.forEach(tag=> {
                                                            if(tag.length) { %>
                                                            <div class="tags"><a href="/templates/<%= tag %>"
                                                                    class="text-dark">
                                                                    <%= tag %>
                                                                </a></div>
                                                            <% } }) %>
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>
                                    <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <footer>
                <div class="contain">
                    <div class="grid_4">
                        <div>
                            <h3>Hey! How <br /> you ' doing? <ion-icon name="telescope-outline"></ion-icon>
                            </h3>
                            <p>If you've made it this far, you have my respect. That probably doesn't mean much to
                                you right now giving that you are just meeting me but I really appreciate you. My
                                name
                                is Adeleke Ife and this is one of my portfolio websites.</p>
                        </div>
                        <div>
                            <h3>Some of my <br /> other projects</h3>
                            <ul>
                                <li><a target="_blank" href="https://konnect.ws">Konnect</a></li>
                                <li><a target="_blank" href="https://lagostheatreigando.com">Lagos Theatre Igando</a>
                                </li>
                                <li><a target="_blank" href="https://vo3designs.com">Vo3 Designs</a></li>
                                <li><a target="_blank" href="https://dancerapy.org">Dancerapy</a></li>
                            </ul>
                        </div>
                        <div>
                            <h3>Get in <br /> touch with me</h3>
                            <ul>
                                <li><a href="/js/resume.pdf" download="adeleke-ifeoluwase-resume">Download my
                                        Resume</a></li>
                                <li><a target="_blank" href="https://adelekeife.com">See my Portfolio</a></li>
                                <li><a href="tel:+2348132277316">Call me now</a></li>
                                <li><a href="mailTo:eadelekeife@gmail.com">Send me a mail</a></li>
                            </ul>
                        </div>
                        <div class="social_media">
                            <h3>My Social <br /> Media Links </h3>
                            <a href="https://twitter.com/eadelekeife" target="_blank">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                            <a href="https://linkedin.com/in/ifeoluwase-adeleke-b3b75323a" target="_blank">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                            <a href="https://github.com/eadelekeife" target="_blank">
                                <ion-icon name="logo-github"></ion-icon>
                            </a>
                            <a href="https://medium.com/@eadelekeife" target="_blank">
                                <ion-icon name="logo-medium"></ion-icon>
                            </a>
                            <ul>
                                <li><a href="tel:+2348132277316">+234 813 227 7316</a></li>
                                <li><a href="mailTo:eadelekeife@gmail.com">eadelekeife@gmail.com</a></li>
                                <!-- <li><a href="">Lagos, Nigeria</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
    </body>

    <script>
        function myLightBox() {
            let allImages = document.querySelectorAll('.templates img');
            for (let images of [...allImages]) {
                images.addEventListener('click', function (e) {
                    e.preventDefault();
                    // document.querySelector('#showColor').innerText = '';
                    // document.querySelector('#showFont').innerText = '';
                    document.querySelector('#myModal #showTag').innerText = '';

                    document.querySelector('#myModal img').src = this.src;
                    document.querySelector('#myModal h2').innerText = this.getAttribute('data-name');
                    // let work = JSON.parse(this.getAttribute('data-svg'));
                    // if (work.objects) {
                    //     work.objects.forEach(obj => {
                    //         if (obj.type === 'textbox') {
                    //             let createButton = document.createElement('button');
                    //             createButton.classList.add('btn');
                    //             createButton.classList.add('p-2');
                    //             createButton.classList.add('mr-1');
                    //             createButton.classList.add('ml-0');

                    //             createButton.style.backgroundColor = obj.fill;
                    //             let col = createButton.style.backgroundColor;
                    //             if (col == '#ffffff' || col == 'white' || col == 'rgb(255, 255, 255)') {
                    //                 createButton.classList.add('color-tag');
                    //             }

                    //             document.querySelector('#showColor').appendChild(createButton);
                    //         }
                    //     })
                    // }
                    let id = this.getAttribute('data-id');
                    document.querySelector('#myModal a').href = `/edit/${id}`;
                    document.querySelector('#myModal a').innerHTML = "Use Template";
                    let tags = this.getAttribute('data-tags').split(',');
                    for (let tag of tags) {
                        let createA = document.createElement('a');
                        let createDiv = document.createElement('div');
                        createDiv.classList.add('tags');
                        createA.classList.add('text-dark');
                        createA.href = `/templates/${tag}`;
                        createA.innerText = tag;
                        createDiv.appendChild(createA);
                        document.querySelector('#myModal #showTag').appendChild(createDiv);
                    }
                })
            }
        }
        myLightBox();

        document.querySelector('.targetNav').addEventListener('click', () => {
            document.querySelector('.nav-content').style.display = "block";
        })
    </script>

</html>